.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/pg.iml
.idea/vcs.xml
app/__pycache__/
.DS_Store
__pycache__/
app/.DS_Store
app/static/.DS_Store
app/static/.webassets-cache/
app/static/dist/css/
app/static/dist/js/
app/static/src/
app/static/img/
app/templates/dashboard.jinja2
app/templates/layout.jinja2
app/templates/login.jinja2
